body {
    background-color: plum;
}

/* NAVBAR - EVERY PAGE */

.navbar {
    background-color: whitesmoke;

    /* Turn this object into a flex container for easy positioning of elements. */
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 24px;
}

.navbar img {
    padding: 0px 40px;
    width: 120px;
}

.navbar_links {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* So, like in the practice problem I did earlier, some elements have 
    padding and margin automatically applied. Divs don't, but the ul elements
    do. */
}

.navbar_links ul {
    /* At THIS POINT (lowest level of where the individual sections of links are) is where
    you can put the display: grid. */
    display: grid;
    grid-auto-flow: column;

    list-style: none;

    border-radius: 24px;

    /* Set padding and margin to 0. Pretty sure this one just has inherent padding applied, 
    but just being sure. */
    padding: 0;
    margin: 0;
}

.navbar_links ul li {
    padding: 40px;
}

/* Trying to style the navbar's links */
.navbar_links a {
    color: #9EA3F5;
}

.navbar_links a:hover {
    color: #BBBEFE;
}

/* SHOULD ALSO BE ON EVERY PAGE */
.bottom_section {
    text-align: center;
}

/* Page-specific styling :) */

.about_navlinkbox {
    background-color: #e8e8e8;
}