/* Basic page stuff (add font, etc) */

@font-face {
    font-family: 'Bodoni';
    src: url('bodoni.otf') format('opentype');
}

body {
    background-color: #c2abe7;
}

/* Navbar */

.navbar {
    position: sticky;
    top: 8px;

    z-index: 6;
}

.navbar_contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon img {
    height: 40px;
    padding: 4px 0 0 0;
    margin: 0 20px;
}

.navlinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin: 0 20px;
}

.navlinks a {
    color: black;

    text-align: center;
    font-family: 'Bodoni';
    text-decoration: none;
    padding: 0 12px;
}