body {
    background-color: plum;
}

/* NAVBAR */

.navbar {
    background-color: whitesmoke;

    /* Turn this object into a flex container for easy positioning of elements. */
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 24px;
}

.navbar img {
    padding: 0px 40px;
    width: 120px;
}

.navbar_links {
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* So, like in the practice problem I did earlier, some elements have 
    padding and margin automatically applied. Divs don't, but the ul elements
    do. */
}

.navbar_links ul {
    /* At THIS POINT (lowest level of where the individual sections of links are) is where
    you can put the display: grid. */
    display: grid;
    grid-auto-flow: column;

    list-style: none;

    border-radius: 24px;

    /* Set padding and margin to 0. Pretty sure this one just has inherent padding applied, 
    but just being sure. */
    padding: 0;
    margin: 0;
}

.navbar_links ul li {
    padding: 40px;
}

/* Trying to style the navbar's links */
.navbar_links a {
    color: #9EA3F5;
}

.navbar_links a:hover {
    color: #BBBEFE;
}

/* HEADER - IMAGE AND PRESENTING TEXT */

.header {
    position: static;
    text-align: center;
}

.header h1 {
    font-size: 100px;
    color: whitesmoke;

    text-shadow: 0px 0px 24px #a83ca8;
}

.header h4 {
    font-size: 20px;
    color: lavenderblush;

}

.header img {
    width: 50%;

    border: 10px solid whitesmoke;
}

/* ANIMATION FOR NAME - HELL YEAH BABY!!!!!!!!!!!! */

.name {
    animation: name_rotate 5s infinite ease-in-out;
}

@keyframes name_rotate {
    0% {
        transform: rotate(-6deg);
    }
    50% {
        transform: rotate(6deg); 
    }

    100% {
        transform: rotate(-6deg);
    }
}

/* MAIN BODY SECTION */

.info {
    color: #444444;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 24%;
    padding: 20px 80px;

    border-radius: 20px;
    
    box-shadow: 0px 0px 40px #a83ca8;

    background-color: whitesmoke;
}

.info h3 {
    font-size: 36px;
}

.info li {
    font-size: 24px;
    line-height: 30px;
}

/* ENDING SECTION */

.bottom_section {
    position: relative;
    text-align: center;
}

/* BACKGROUND STICKY IMAGE (God this was annoying) */

.bg_container {
    position: absolute;

    left: -20px;
    bottom: 0;

    z-index: -1;
}

.bg_container img {
    width: 700px;
    transform: translateY(20px);
}

/* Page-specific styling :) */

.home_navlinkbox {
    background-color: #e8e8e8;
}